
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
	max-width: 1200px; /* Added this line */
    margin: 0 auto; /* Added this line */

}

header {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

nav {
    display: flex;
    justify-content: space-around;
    background: #333;
    padding: 1rem;
}

nav a {
    color: #fff;
    text-decoration: none;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 2rem;
}

h2 {
    border-bottom: 1px solid #333;
    padding-bottom:0.5rem;
}

section {
    margin-bottom: 2rem;
}

footer {
    background: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

.doctor-image {
    width: 10px; /* Adjust the width here */
    height: auto;
    border-radius: 50%;
}

.about-container {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap; /* Added this line */
}

.about-text {
    flex: 1;
    min-width: 60%; /* Added this line */
}

.about-image {
    display: flex;
    align-items: flex-start;
    margin-left: 1rem;
    min-width: 30%; /* Added this line */
}